@mixin theme_halo {
    --theme-primary: #8790a0;
    --theme-primary-light: #b7c0d1;
    --theme-primary-dark: #5a6372;

    --theme-accent: #6FBEFF;
    --theme-background: #a09787;
    
    --theme-gradient: linear-gradient(180deg, var(--theme-secondary) 0%, var(--theme-secondary-light) 70%);

    --theme-secondary: #383f4b;
    --theme-secondary-light: #626a77;
    --theme-secondary-dark: #121923;
    
    --theme-text-primary-on-primary: #000000;
    --theme-text-hint-on-primary: #000000;
    --theme-text-disabled-on-primary: #000000;
    --theme-text-icon-on-primary: #000000;

    --theme-text-secondary-on-primary: #41464b;

    --theme-text-primary-on-accent: #000000;
    --theme-text-secondary-on-accent: #000000;
    --theme-text-hint-on-accent: #000000;
    --theme-text-disabled-on-accent: #000000;
    --theme-text-icon-on-accent: #000000;

    --theme-text-primary-on-background: #000000;
    --theme-text-secondary-on-background: #000000;
    --theme-text-hint-on-background: #000000;
    --theme-text-disabled-on-background: #000000;
    --theme-text-icon-on-background: #000000;

    --theme-text-primary-on-light: #000000;
    --theme-text-secondary-on-light: #000000;
    --theme-text-hint-on-light: #000000;
    --theme-text-disabled-on-light: #000000;
    --theme-text-icon-on-light: #000000;

    --theme-text-primary-on-dark: #ffffff;
    --theme-text-secondary-on-dark: #ffffff;
    --theme-text-hint-on-dark: #ffffff;
    --theme-text-disabled-on-dark: #ffffff;
    --theme-text-icon-on-dark: #ffffff;
}