.card {
  --image-width: 18rem;
  --image-height: 15vh;
  width: var(--image-width);
  box-shadow: 0 4px 8px 0 var(--theme-primary);
  background-image: var(--theme-gradient);
  color: var(--theme-text-primary-on-primary); }
  .card.link {
    cursor: pointer; }
    .card.link:hover {
      box-shadow: 0 8px 16px 0 var(--theme-primary);
      transform-style: preserve-3d;
      transform: perspective(9cm) rotateX(2deg);
      transition: transform ease 0.2s; }
  .card .card-img {
    width: 100%;
    height: var(--image-height);
    object-fit: cover;
    object-position: center 15%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit; }
  .card.art .card-img {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    animation: panImage 20s ease alternate infinite;
    border-radius: inherit;
    filter: brightness(0.5) grayscale(0.6);
    background-color: var(--theme-primary-dark);
    border: 1px solid var(--theme-secondary); }
  .card.art:hover .card-img {
    object-fit: contain;
    object-position: center;
    animation: unset; }

@keyframes panImage {
  0% {
    object-position: center 0%; }
  100% {
    object-position: center 100%; } }
  .card.art .card-img ~ .card-body {
    z-index: 1;
    color: var(--theme-text-primary-on-dark);
    min-height: 40vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .card.art .card-img ~ .card-body .card-title {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 5px 3px; }
