@page "/help/notification-triggers"
<h3>Notification Triggers</h3>
<p>Some subsites implement a feature for scheduled reminders. This feature relies on an experimental API available in Chrome browsers. Because it is experimental, users will have to enable this browser feature before it can be utilized by this site. To learn more about the Notifications API, visit <a href="https://web.dev/notification-triggers/" target="_blank">web.dev/notification-triggers</a>.</p>
<p>To enable Notification Triggers, you must go to <code>chrome://flags</code> in your browser and search for the <code>#enable-experimental-web-platform-features</code> feature. Or try copying this address: <a href="chrome://flags/#enable-experimental-web-platform-features" target="_blank">chrome://flags/#enable-experimental-web-platform-features</a>.</p>
<p>Once enabled, you may be prompted by the site the first time you try to create a new reminder if you wish to receive notifications. Simply agree to this prompt, but you may need to add your reminder again if it doesn't appear in the interface.</p>
