@page "/thelegendofzelda"
@inject TheLegendOfZelda.Models.LocalStores.IngredientStore LocalIngredientStore
@using TheLegendOfZelda.Models.LocalStores
@layout TheLegendOfZelda_Layout

<h3>The Legend of Zelda&trade;</h3>

<h4>Game Resources</h4>
<p>Review the data that powers the tools you see above.</p>
<ul>
    <li>
        <a href="./thelegendofzelda/ingredients">Ingredients</a>
    </li>
</ul>

@code {

}
