@inherits LayoutComponentBase
@layout MainLayout

<div class="content px-4">
    @Body
</div>
<p>Tools for games within franchise of <em>The Legend of Zelda&copy;</em>. All rights to <em>The Legend of Zelda&copy;</em> reserved by Nintendo EPD.</p>

@code {
}
