@mixin theme_lotr_risetowar {
    --theme-primary: #A59040;
    --theme-primary-light: #d8c06e;
    --theme-primary-dark: #746312;

    --theme-accent: #4054a5;
    --theme-background: #ffffff;

    --theme-secondary: #f0e027;
    --theme-secondary-light: #ffff63;
    --theme-secondary-dark: #b9af00;
}