@page "/template"
@inject HttpClient Http

<h3>Template</h3>
<p>Task list:</p>
<ul>
    <li>
        <input type="checkbox" id="folder" />
        <label for="folder">Create folder in <code>/Pages/Subsites/{Sub-Site Name}</code>.</label>
    </li>
</ul>
@code {

}
