@mixin theme_thelegendofzelda {
    --theme-primary: #309261;
    --theme-primary-light: #64c38f;
    --theme-primary-dark: #006337;

    --theme-accent: #923061;
    --theme-background: #ffffff;

    --theme-secondary: #d2ce37;
    --theme-secondary-light: #ffff6b;
    --theme-secondary-dark: #9d9d00;
}