@using Utilities.Games.Models

@if (Links?.Any() == true)
{
<div class="p-2 bg-light">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            @foreach (var link in Links.OrderBy(x => x.OrderIndex))
            {
                string title = Uri.UnescapeDataString(link.Title);
                if (link.IsActive)
                {
                    <li class="breadcrumb-item active mt-bread-item" aria-current="page">@(title)</li>
                }
                else
                {
                    <li class="breadcrumb-item">
                        <a class="mt-bread-item-link" href="@link.Address">@(title)</a>
                    </li>
                }
            }
        </ol>
    </nav>
</div>
}
@code{
    [Parameter]
    public List<BreadcrumbLink> Links { get; set; } = new List<BreadcrumbLink>();

    protected override Task OnParametersSetAsync() => base.OnParametersSetAsync();
}