@page "/"

<h3>Utilities.Games</h3>
<p>An open-source application where contributors share useful tools, calculators, and game mechanic guides. Head over to <a href="https://github.com/Utilities-Games/Utilities.Games/Discussions" target="_blank">GitHub</a> to keep track of development. If you're not a programmer, then feel free to discuss games you'd like to see supported, tools you wish you had, or see how you can contribute to data entry for your favorite games!<br /> <br/>Feel free to buy our developers a much needed coffee by <a href="https://github.com/Utilities-Games/Utilities.Games" target="_blank">Sponsoring our Developers</a>. For non-programmers, GitHub is the site we use to maintain development of this application. <a href="https://github.com" target="_blank">GitHub.com</a> provides a <a href="https://github.com/sponsors" target="_blank">Sponsorship program</a> which helps individual developers continue to contribute to sites like this.</p>
<Utilities.Games.Shared.Card.Container>
    <Utilities.Games.Shared.Card.Card
        ImageUrl="./Subsites/LOTR_RiseToWar/images/game_logo.png"
        NavigationUrl="./lotr_risetowar"
        Class="art theme-lotr_risetowar"
    >
        <Title>The Lord of the Rings: Rise to War&trade;</Title>
    </Utilities.Games.Shared.Card.Card>
    <Utilities.Games.Shared.Card.Card
        ImageUrl="./Subsites/TheLegendOfZelda/images/game_logo.png"
        NavigationUrl="./thelegendofzelda"
        Class="art theme-thelegendofzelda"
    >
        <Title>The Legend of Zelda&trade;</Title>
    </Utilities.Games.Shared.Card.Card>
    <Utilities.Games.Shared.Card.Card
        ImageUrl="./Subsites/Halo/images/game_logo.png"
        NavigationUrl="./halo"
        Class="art theme-halo"
    >
        <Title>Halo&trade;</Title>
    </Utilities.Games.Shared.Card.Card>
    <Utilities.Games.Shared.Card.Card
        NavigationUrl="https://github.com/Utilities-Games/Utilities.Games/discussions/9"
        Class="art"
    >
        <Title>Suggest a new Game or Franchise</Title>
    </Utilities.Games.Shared.Card.Card>
</Utilities.Games.Shared.Card.Container>