@page "/"

<h3>Utilities.Games</h3>
<p>An open-source application where contributors share useful tools, calculators, and game mechanic guides. Head over to <a href="https://github.com/Utilities-Games/Utilities.Games/Discussions" target="_blank">GitHub</a> to keep track of development. If you're not a programmer, then feel free to discuss games you'd like to see supported, tools you wish you had, or see how you can contribute to data entry for your favorite games!<br /> <br/>Feel free to buy our developers a much needed coffee by <a href="https://github.com/Utilities-Games/Utilities.Games" target="_blank">Sponsoring our Developers</a>. For non-programmers, GitHub is the site we use to maintain development of this application. <a href="https://github.com" target="_blank">GitHub.com</a> provides a <a href="https://github.com/sponsors" target="_blank">Sponsorship program</a> which helps individual developers continue to contribute to sites like this.</p>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
    <div class="col">
        <a class="card h-100" href="./lotr_risetowar">
            <img class="card-img-top" src="./Subsites/LOTR_RiseToWar/images/game_logo.png" />
            <div class="card-body">
                <h4 class="card-title text-center">The Lord of the Rings: Rise to War&trade;</h4>
            </div>
        </a>
    </div>
    <div class="col h-100">
        <a class="card" href="./thelegendofzelda">
            <img class="card-img-top" src="./Subsites/TheLegendOfZelda/images/game_logo.png" />
            <div class="card-body">
                <h4 class="card-title text-center">The Legend of Zelda&trade;</h4>
            </div>
        </a>
    </div>
    <div class="col h-100">
        <a class="card" href="./halo">
            <img class="card-img-top" src="./Subsites/Halo/images/game_logo.png" />
            <div class="card-body">
                <h4 class="card-title text-center">Halo&trade;</h4>
            </div>
        </a>
    </div>
    <div class="col h-100">
        <a class="card" href="https://github.com/Utilities-Games/Utilities.Games/discussions/9" target="_blank">
            <img class="card-img-top" src="" />
            <div class="card-body">
                <h4>Suggest a new Game or Franchise</h4>
            </div>
        </a>
    </div>
</div>