@page "/"

<h3>Utilities.Games</h3>
<div class="row row-cols-1 row-cols-4 g-4">
    <div class="col">
        <a class="card" href="./lotr_risetowar">
            <img class="card-img-top" src="./Subsites/LOTR_RiseToWar/images/game_logo.png" />
            <div class="card-body">
                <h4 class="card-title text-center">The Lord of the Rings: Rise to War&trade;</h4>
            </div>
        </a>
    </div>
</div>