@page "/"

<h3>Utilities.Games</h3>
<ul>
    <li>
        <a href="./template">Template</a>
    </li>
    <li>
        <a href="./lotr_risetowar">The Lord of the Rings: Rise to War&trade;</a>
    </li>
</ul>