@page "/lotr_risetowar/commanders"
@inject HttpClient Http

<h3>Commanders</h3>

<div class="row">
    @if (commanders == null)
    {
        <p class="alert alert-light">Loading...</p>
    }
    else
    {
        @foreach (Models.Commander commander in commanders)
        {
            <a class="card m-3" href="./lotr_risetowar/commanders/@(commander.Name)">
                <img class="card-img-top" src="./Subsites/LOTR_RiseToWar/images/commanders/@(commander.Name).png" alt="@(commander.Name)" />
                <div class="card-body">
                    <h5 class="card-title text-center">@(commander.Name)</h5>
                </div>
            </a>
        }
    }
</div>

@code {
    private Models.Commander[] commanders;

    protected override async Task OnInitializedAsync(){
        var options = new System.Text.Json.JsonSerializerOptions()
        {
            PropertyNameCaseInsensitive = true
        };
        commanders = await Http.GetFromJsonAsync<Models.Commander[]>("Subsites/LOTR_RiseToWar/data/commanders.json", options);
    }
}
