@page "/lotr_risetowar/commanders"
@inject HttpClient Http

<h3>Commanders</h3>

<div class="row">
    @if (commanders == null)
    {
        <p class="alert alert-light">Loading...</p>
    }
    else
    {
        <ul>
            @foreach (Models.Commander commander in commanders)
            {
                <li>
                    <a href="./lotr_risetowar/commanders/@(commander.Name)">@(commander.Name)</a>
                </li>
            }
        </ul>
    }
</div>

@code {
    private Models.Commander[] commanders;

    protected override async Task OnInitializedAsync(){
        var options = new System.Text.Json.JsonSerializerOptions()
        {
            PropertyNameCaseInsensitive = true
        };
        commanders = await Http.GetFromJsonAsync<Models.Commander[]>("Subsites/LOTR_RiseToWar/data/commanders.json", options);
    }
}
