@page "/lotr_risetowar/commanders"
@inject HttpClient Http
@layout LOTR_RiseToWar_Layout

<h3>Commanders</h3>
<p>A Commander maintains up-to three unit types and can be deployed to control territory. Click or tap on a Commander to review their base stats.</p>

<Utilities.Games.Shared.Card.Container Loading="@LoadingCommanders">
    @if (commanders?.Length > 0)
    {
        foreach (Games.Models.Subsites.LOTR_RiseToWar.Commander commander in commanders)
        {
            <Utilities.Games.Shared.Card.Card
                ImageUrl="@($"./Subsites/LOTR_RiseToWar/images/commanders/{commander.Name}.png")"
                MaximumImageHeight="200"
                MaximumImageWidth="200"
                NavigationUrl="@($"./lotr_risetowar/commanders/{System.Net.WebUtility.UrlEncode(commander.Name)}")"
            >
                <Title>@commander.Name</Title>
            </Utilities.Games.Shared.Card.Card>
        }
    }
    else
    {
        <Utilities.Games.Shared.Errors.NoItems
            ItemName="Commander"
            GitHubLabel="lotr-risetowar"
            GitHubTemplate="-bug--lotr--rise-to-war.md"
            GitHubTitle="[BUG][LOTR_RiseToWar] {Brief Description}"></Utilities.Games.Shared.Errors.NoItems>
    }
</Utilities.Games.Shared.Card.Container>

@code {
    bool LoadingCommanders = false;
    private DataModels.Commander[] commanders;

    protected override async Task OnInitializedAsync(){
        LoadingCommanders = true;
        var options = new System.Text.Json.JsonSerializerOptions()
        {
            PropertyNameCaseInsensitive = true
        };
        commanders = await Http.GetFromJsonAsync<DataModels.Commander[]>("Subsites/LOTR_RiseToWar/data/commanders.json", options);
        LoadingCommanders = false;
    }
}
