@page "/lotr_risetowar"
@inject LOTR_RiseToWar.Models.LocalStores.ServerStore LocalServerStore
@using LOTR_RiseToWar.Models.LocalStores
@layout LOTR_RiseToWar_Layout

<h3>The Lord of the Rings: Rise To War&trade;</h3>
<p>Tools for the game <a href="https://www.lotr-risetowar.com/" target="_blank"><em>The Lord of the Rings: Rise to War</em></a>, developed and published by NetEase Interactive Entertainment<sup>&copy;</sup>.</p>

<hr />
<h4>Gameplay Servers</h4>
<p class="alert alert-info">Maintain a list of which servers you are active on. Once added, you will be able to save and collaborate rally events and manage in-game progress to share with others, compare stats, and plan your conquests.</p>
<div class="row row-cols-1 row-cols-md-3 g-4">
    @if (LoadingUserServers)
    {
        <div class="col">
            <div class="card h-100" aria-hidden="true">
                <img class="card-img-top" src="" />
                <div class="card-body">
                    <h5 class="card-title placeholder-glow"><span class="placeholder col-6"></span></h5>
                    <p class="card-text placeholder-glow">
                        <span class="placeholder col-7"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-6"></span>
                        <span class="placeholder col-8"></span>
                    </p>
                    <button class="btn btn-primary disabled placeholder float-end"></button>
                </div>
            </div>
        </div>
    }
    else if (UserServers?.Any() == true)
    {
        foreach (UserServer userServer in UserServers)
        {
            <div class="col">
                <div class="card h-100">
                    <img class="card-img-top" src="./Subsites/LOTR_RiseToWar/images/game_logo.png" />
                    <div class="card-body">
                        <h5 class="card-title text-center">Server @(userServer.ServerNumber)</h5>
                        <p class="card-text">[@(userServer.UserId)] @(userServer.Username)</p>
                        @if (!string.IsNullOrEmpty(userServer.FellowshipId))
                        {
                            <p class="card-text">[@(userServer.FellowshipId)] @(userServer.FellowshipName)</p>
                        }
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary float-right" href="./lotr_risetowar/userserver/@(userServer.ServerNumber)">View</a>
                    </div>
                </div>
            </div>
        }
        <div class="col">
            <div class="card h-100">
                <img class="card-img-top" src="" />
                <div class="card-body">
                    <h5 class="card-title">New Server</h5>
                    <p class="card-text">Add a new server to your list.</p>
                    <button class="btn btn-primary" @onclick="ShowAddUserServerModal">
                        <i class="oi oi-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    }
</div>

<hr />
<h4>Game Resources</h4>
<ul>
    <li>
        <a href="./lotr_risetowar/commanders">Commanders</a>
    </li>
    <li>
        <a href="./lotr_risetowar/skills">Skills</a>
    </li>
    <li>
        <a href="./lotr_risetowar/classes">Classes</a>
    </li>
    <li>
        <a href="./lotr_risetowar/races">Races</a>
    </li>
</ul>

<Utilities.Games.Pages.Subsites.LOTR_RiseToWar.Components.AddUserServerModal @ref="AddUserServerModal" OnSave="SaveUserServer" />

@code {
    bool LoadingUserServers = false;
    private IEnumerable<UserServer> UserServers { get; set; }
    private Utilities.Games.Pages.Subsites.LOTR_RiseToWar.Components.AddUserServerModal AddUserServerModal;

    protected override async Task OnInitializedAsync()
    {
        LoadingUserServers = true;
        UserServers = await LocalServerStore.GetAll();
        LoadingUserServers = false;
    }

    private void ShowAddUserServerModal()
    {
        AddUserServerModal.Open();
    }

    private async void SaveUserServer(UserServer userServer)
    {
        await LocalServerStore.SaveAsync(userServer);
        AddUserServerModal.Close();
        UserServers = await LocalServerStore.GetAll();
        StateHasChanged();
    }
}
