@page "/lotr_risetowar"

<h3>The Lord of the Rings: Rise To War&trade;</h3>
<p>Tools for the game <a href="https://www.lotr-risetowar.com/" target="_blank"><em>The Lord of the Rings: Rise to War</em></a>, developed and published by NetEase Interactive Entertainment<sup>&copy;</sup>.</p>

<ul>
    <li>
        <a href="./lotr_risetowar/commanders">Commanders</a>
    </li>
    <li>
        <a href="./lotr_risetowar/skills">Skills</a>
    </li>
    <li>
        <a href="./lotr_risetowar/classes">Classes</a>
    </li>
    <li>
        <a href="./lotr_risetowar/races">Races</a>
    </li>
</ul>

@code {

}
