@inherits LayoutComponentBase
@layout MainLayout

<div class="content px-4">
    @Body
</div>
<p>Tools for the game <a href="https://www.lotr-risetowar.com/" target="_blank"><em>The Lord of the Rings: Rise to War</em></a>, developed and published by NetEase Interactive Entertainment<sup>&copy;</sup>.</p>

@code {
}
