@page "/lotr_risetowar/races"
@inject HttpClient Http
@layout LOTR_RiseToWar_Layout

<h3>Races</h3>
<p>Review the races of Middle Earth, presented in The Lord of the Rings: Rise to War&trade;.</p>
@if (races == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var race in races)
        {
            <li>
                <a href="./lotr_risetowar/races/@(race.Name)">@(race.Name)</a>
            </li>
        }
    </ul>
}

@code {
    private DataModels.RaceType[] races;

    protected override async Task OnInitializedAsync()
    {
        var options = new System.Text.Json.JsonSerializerOptions()
        {
            PropertyNameCaseInsensitive = true
        };
        races = await Http.GetFromJsonAsync<DataModels.RaceType[]>("Subsites/LOTR_RiseToWar/data/races.json", options);
    }
}
