@page "/lotr_risetowar/races/{name}"
@inject HttpClient Http
@layout LOTR_RiseToWar_Layout

@if (race == null)
{
    <p>Loading...</p>
}
else
{
    <h3>@(race.Name)</h3>
    <p class="text-muted">Nope, that's pretty much it. There's not much else to really say at this point.</p>
}

@code {
    [Parameter]
    public string Name { get; set; }

    private DataModels.RaceType race;

    protected override async Task OnInitializedAsync()
    {
        var options = new System.Text.Json.JsonSerializerOptions()
        {
            PropertyNameCaseInsensitive = true
        };
        race = (await Http.GetFromJsonAsync<DataModels.RaceType[]>("Subsites/LOTR_RiseToWar/data/races.json", options))
            .FirstOrDefault(o => o.Name == Name);
    }
}
