@page "/lotr_risetowar/skills"
@inject HttpClient Http
@layout LOTR_RiseToWar_Layout

<PageTitle>Skills - The Lord of the Rings: Rise to War&trade; - Utilities.Games</PageTitle>

<h3>Skills</h3>
<p>Review the full list of Skills across all Commanders. Skills can be upgraded as a Commander increases in level as well as when their respect level increases. Skills provide additional effects that increase the capabilities of the Commander for the season.</p>
@if (skills == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (DataModels.Skill skill in skills)
        {
            <li>
                <a href="./lotr_risetowar/skills/@(skill.Name)">@(skill.Name)</a>
            </li>
        }
    </ul>
}

@code {
    private DataModels.Skill[] skills;

    protected override async Task OnInitializedAsync()
    {
        var options = new System.Text.Json.JsonSerializerOptions()
        {
            PropertyNameCaseInsensitive = true
        };
        skills = await Http.GetFromJsonAsync<DataModels.Skill[]>("Subsites/LOTR_RiseToWar/data/skills.json", options);
    }
}
