@inherits LayoutComponentBase
@layout MainLayout

<div class="content px-4">
    @Body
</div>
<p>Tools for the game <a href="https://www.halowaypoint.com/en-gb" target="_blank"><em>Halo&trade;</em></a>.</p>

@code {
}
