@page "/halo"
@inject HttpClient Http
@layout Halo_Layout
<PageTitle>Halo&trade; - Utilities.Games</PageTitle>
<h3>Halo&trade;</h3>
<p class="alert alert-info"><strong>Have an idea for a new features?</strong> Bring it up in our Discussions for suggestions on <a href="https://github.com/Utilities-Games/Utilities.Games/discussions/10" target="_blank">GitHub.com</a>.</p>

<hr/>
<h4>Game Resources</h4>
<p>Review the data that powers the tools you see above.</p>
<ul>
    <li>
        <a href="./halo/installments">Installments</a>
    </li>
    <li>
        <a href="./halo/skulls">Skulls</a>
    </li>
</ul>

