@page "/halo/installments"
@inject HttpClient Http
@layout Halo_Layout

<h3>Halo&trade; Games</h3>
<Utilities.Games.Shared.Card.Container Loading="@LoadingInstallments">
    @if (installments?.Any() == true)
    {
        foreach (var installment in installments)
        {
            <Utilities.Games.Shared.Card.Card
                Class="art"
                ImageUrl="@($"./Subsites/Halo/images/installments/{installment.Name}.png")"
                NavigationUrl="@($"./halo/installments/{installment.Name}")"
            >
                <Title>@(installment.Name)</Title>
            </Utilities.Games.Shared.Card.Card>
        }
    }
    else
    {
        <Utilities.Games.Shared.Errors.NoItems
            ItemName="Installment"
            GitHubLabel="halo"></Utilities.Games.Shared.Errors.NoItems>
    }
</Utilities.Games.Shared.Card.Container>

@code {
    bool LoadingInstallments = false;
    private IEnumerable<DataModels.Installment> installments { get; set; }

    protected override async Task OnInitializedAsync()
    {
        LoadingInstallments = true;
        var options = new System.Text.Json.JsonSerializerOptions()
        {
            PropertyNameCaseInsensitive = true
        };
        installments = await Http.GetFromJsonAsync<DataModels.Installment[]>("Subsites/Halo/data/installments.json", options);
        LoadingInstallments = false;
    }
}
